<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="FFQAbout">
		<centered>1</centered>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>3</rows>
			<growablecols>0</growablecols>
			<growablerows>0,1,2</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<rows>1</rows>
					<growablecols>0,1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxStaticBitmap" name="ID_STATICBITMAP" variable="StaticBitmap" member="yes">
							<size>100,100</size>
							<style>wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>1</cols>
							<rows>3</rows>
							<growablecols>0</growablecols>
							<growablerows>0,1,2</growablerows>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="Hdr" member="yes">
									<label>ffq</label>
									<font>
										<size>26</size>
										<style>normal</style>
										<weight>bold</weight>
										<underlined>0</underlined>
										<family>swiss</family>
										<face>Arial</face>
									</font>
									<extra_code>Hdr-&gt;SetLabel(GUI__1);</extra_code>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
									<cols>2</cols>
									<rows>1</rows>
									<growablecols>0,1</growablecols>
									<growablerows>0</growablerows>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="Info" member="yes">
											<label>gui</label>
											<extra_code>Info-&gt;SetLabel(GUI__2);</extra_code>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="wxID_ANY" subclass="wxGenericHyperlinkCtrl" variable="Link" member="no">
											<label>www</label>
											<extra_code>Link-&gt;SetLabel(GUI__3);&#x0A;Link-&gt;SetURL(GUI__4);</extra_code>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>2</cols>
									<rows>1</rows>
									<growablecols>0,1</growablecols>
									<growablerows>0</growablerows>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="Bacon" member="yes">
											<label>100%</label>
											<extra_code>Bacon-&gt;SetLabel(GUI__5);</extra_code>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxPanel" name="ID_ANIMPANEL" variable="AnimPanel" member="yes">
											<minsize>37,28</minsize>
											<style>wxBORDER_NONE|wxTAB_TRAVERSAL</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
					<cols>1</cols>
					<rows>1</rows>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL" variable="TextCtrl" member="yes">
							<size>-1,120d</size>
							<style>wxTE_MULTILINE|wxTE_READONLY|wxTE_RICH|wxBORDER_STATIC</style>
						</object>
						<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_HELPBUTTON" variable="HelpButton" member="yes">
							<label>H</label>
							<extra_code>HelpButton-&gt;SetLabel(FFQS(SID__COMMON__HELP));</extra_code>
							<handler function="OnButtonCloseClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_CLOSEBUTTON" variable="CloseButton" member="yes">
							<label>C</label>
							<default>1</default>
							<extra_code>CloseButton-&gt;SetLabel(FFQS(SID__COMMON__CLOSE));</extra_code>
							<handler function="OnButtonCloseClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
