<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="FFQBatchMake">
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="MainSizer" member="yes">
			<cols>1</cols>
			<rows>4</rows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>1</cols>
					<rows>1</rows>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_JOBINFO" variable="JobInfo" member="yes">
							<label>L</label>
							<font>
								<size>12</size>
								<weight>bold</weight>
							</font>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="SBS1" member="no">
					<label>Props</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>1</cols>
							<rows>14</rows>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>4</cols>
									<rows>2</rows>
									<growablecols>1,2,3</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_ST1" variable="ST1" member="yes">
											<label>SelC</label>
											<extra_code>ST1-&gt;SetLabel(FFQS(SID__BATCHMAKE__SEL__CONTENT));&#x0A;SBS1-&gt;GetStaticBox()-&gt;SetLabel(FFQS(SID__BATCHMAKE__DEFINE__PROPERTIES));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_INCLUDEVIDEO" variable="IncludeVideo" member="yes">
											<label>V</label>
											<extra_code>IncludeVideo-&gt;SetLabel(FFQS(SID__COMMON__VIDEO));</extra_code>
											<handler function="OnAction" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_INCLUDEAUDIO" variable="IncludeAudio" member="yes">
											<label>A</label>
											<extra_code>IncludeAudio-&gt;SetLabel(FFQS(SID__COMMON__AUDIO));</extra_code>
											<handler function="OnAction" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_INCLUDESUBS" variable="IncludeSubs" member="yes">
											<label>S</label>
											<extra_code>IncludeSubs-&gt;SetLabel(FFQS(SID__COMMON__SUBTITLES));</extra_code>
											<handler function="OnAction" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="ST7" member="yes">
											<label>NoFa</label>
											<extra_code>ST7-&gt;SetLabel(FFQS(SID__BATCHMAKE__NOFAIL__CONTENT));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_NOFAILVIDEO" variable="NoFailVideo" member="yes">
											<label>V</label>
											<extra_code>NoFailVideo-&gt;SetLabel(FFQS(SID__COMMON__VIDEO));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_NOFAILAUDIO" variable="NoFailAudio" member="yes">
											<label>A</label>
											<extra_code>NoFailAudio-&gt;SetLabel(FFQS(SID__COMMON__AUDIO));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_NOFAILSUBS" variable="NoFailSubs" member="yes">
											<label>S</label>
											<extra_code>NoFailSubs-&gt;SetLabel(FFQS(SID__COMMON__SUBTITLES));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticLine" name="wxID_ANY" variable="SL1" member="yes">
									<size>10,-1</size>
								</object>
								<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
									<cols>3</cols>
									<rows>1</rows>
									<hgap>10</hgap>
									<growablecols>0</growablecols>
									<growablerows>0</growablerows>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="ST8" member="yes">
											<label>IncX</label>
											<extra_code>ST8-&gt;SetLabel(FFQS(SID__BATCHMAKE__ALSO__INCLUDE));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="wxID_ANY" variable="IncludeAttachment" member="yes">
											<label>T</label>
											<extra_code>IncludeAttachment-&gt;SetLabel(FFQS(SID__COMMON__ATTACHMENT));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="wxID_ANY" variable="IncludeData" member="yes">
											<label>D</label>
											<extra_code>IncludeData-&gt;SetLabel(FFQS(SID__COMMON__DATA));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
									<size>10,-1</size>
								</object>
								<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
									<cols>2</cols>
									<rows>1</rows>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_ST2" variable="ST2" member="yes">
											<label>PrefA</label>
											<extra_code>ST2-&gt;SetLabel(FFQS(SID__BATCHMAKE__PREF__AUDIO__CODEC));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_PREFAUDIO" variable="PrefAudio" member="yes">
											<content>
												<item>aac</item>
												<item>eac3</item>
												<item>mp2</item>
												<item>mp3</item>
											</content>
											<selection>0</selection>
											<handler function="OnAction" entry="EVT_TEXT" />
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_AUDINVERSE" variable="AudInverse" member="yes">
									<label>AI</label>
									<extra_code>AudInverse-&gt;SetLabel(FFQS(SID__BATCHMAKE__MATCH__INVERSE));</extra_code>
									<handler function="OnAction" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
									<size>10,-1</size>
								</object>
								<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
									<cols>2</cols>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_ST6" variable="ST6" member="yes">
											<label>PrefS</label>
											<extra_code>ST6-&gt;SetLabel(FFQS(SID__BATCHMAKE__PREF__SUBS__CODEC));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_PREFSUBS" variable="PrefSubs" member="yes">
											<content>
												<item>dvb_subtitle</item>
												<item>dan</item>
												<item>eng</item>
											</content>
											<handler function="OnAction" entry="EVT_TEXT" />
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_SUBSINVERSE" variable="SubsInverse" member="yes">
									<label>SI</label>
									<extra_code>SubsInverse-&gt;SetLabel(FFQS(SID__BATCHMAKE__MATCH__INVERSE));</extra_code>
								</object>
								<flag>wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="yes">
									<size>10,-1</size>
								</object>
								<flag>wxTOP|wxBOTTOM|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
									<cols>2</cols>
									<rows>1</rows>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_ST3" variable="ST3" member="yes">
											<label>DestFmt</label>
											<extra_code>ST3-&gt;SetLabel(FFQS(SID__BATCHMAKE__DEST__FORMAT));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_OUTPUTFORMAT" variable="OutputFormat" member="yes">
											<content>
												<item>mp4</item>
												<item>mkv</item>
												<item>m4v</item>
												<item>avi</item>
												<item>mpg</item>
												<item>flv</item>
												<item>mp3</item>
												<item>flac</item>
												<item>wav</item>
											</content>
											<selection>0</selection>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
									<cols>3</cols>
									<rows>1</rows>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_ST4" variable="ST4" member="yes">
											<label>DestFo</label>
											<extra_code>ST4-&gt;SetLabel(FFQS(SID__COMMON__DEST__FOLDER));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_OUTPUTPATH" variable="OutputPath" member="yes" />
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BROWSEBUTTON" variable="BrowseButton" member="yes">
											<label>...</label>
											<handler function="OnAction" entry="EVT_BUTTON" />
										</object>
										<flag>wxLEFT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
									<cols>2</cols>
									<rows>1</rows>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_ST5" variable="ST5" member="yes">
											<label>SelP</label>
											<extra_code>ST5-&gt;SetLabel(FFQS(SID__BATCHMAKE__SELECT__PRESET));</extra_code>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="Custom" name="ID_PRESET" subclass="FFQPresetPanel" variable="Preset" member="yes">
											<creating_code>$(THIS) = new $(CLASS)($(PARENT));</creating_code>
											<include_file>FFQPresetPanel.h</include_file>
											<local_include>1</local_include>
											<style></style>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_MAKELOGS" variable="SaveLogs" member="yes">
									<label>Sl</label>
									<extra_code>SaveLogs-&gt;SetLabel(FFQS(SID__COMMON__SAVE__LOG));</extra_code>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>3</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxTOP|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_DRYRUNBUTTON" variable="DryRunButton" member="yes">
							<label>D</label>
							<extra_code>DryRunButton-&gt;SetLabel(FFQS(SID__COMMON__DRY__RUN));</extra_code>
							<handler function="OnAction" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_MAKEBUTTON" variable="MakeButton" member="yes">
							<label>M</label>
							<default>1</default>
							<extra_code>MakeButton-&gt;SetLabel(FFQS(SID__BATCHMAKE__MAKE__JOBS));</extra_code>
							<handler function="OnAction" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_CANCELBUTTON" variable="CancelButton" member="yes">
							<label>C</label>
							<extra_code>CancelButton-&gt;SetLabel(FFQS(SID__COMMON__CANCEL));</extra_code>
							<handler function="OnAction" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGauge" name="ID_GAUGE" variable="Gauge" member="yes">
					<range>1000</range>
					<size>450,-1</size>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxDirDialog" variable="DestPathDlg" member="yes">
			<message>Select destination folder</message>
			<style>wxDD_DEFAULT_STYLE|wxDD_DIR_MUST_EXIST</style>
		</object>
	</object>
</wxsmith>
