<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="FFQMain">
		<centered>1</centered>
		<size>800,500</size>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<handler function="OnFrameResize" entry="EVT_SIZE" />
		<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW" variable="SplitterWindow" member="yes">
			<pos>184,256</pos>
			<minsize>100,100</minsize>
			<style>wxSP_3D|wxALWAYS_SHOW_SB</style>
			<object class="wxListView" name="ID_LISTVIEW" variable="ListView" member="yes">
				<minsize>800,150d</minsize>
				<style>wxLC_REPORT|wxLC_NO_SORT_HEADER|wxBORDER_NONE</style>
				<handler function="OnListViewItemSelection" entry="EVT_LIST_ITEM_SELECTED" />
				<handler function="OnListViewItemSelection" entry="EVT_LIST_ITEM_DESELECTED" />
				<handler function="OnListViewItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
				<handler function="OnListViewItemRightClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
				<handler function="OnListViewColumnBeginDrag" entry="EVT_LIST_COL_BEGIN_DRAG" />
				<handler function="OnListViewColumnEndDrag" entry="EVT_LIST_COL_END_DRAG" />
			</object>
			<object class="wxNotebook" name="ID_CONSOLES" variable="Consoles" member="yes">
				<minsize>800,150</minsize>
				<handler function="OnConsolesPageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
				<object class="notebookpage">
					<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="no">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>1</cols>
							<rows>1</rows>
							<growablecols>0</growablecols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL" variable="TextCtrl" member="yes">
									<font>
										<size>10</size>
										<style>normal</style>
										<weight>normal</weight>
										<underlined>0</underlined>
										<family>teletype</family>
										<face>Monospace</face>
									</font>
									<minsize>800,100</minsize>
									<style>wxTE_MULTILINE|wxTE_READONLY|wxTE_RICH|wxTE_DONTWRAP|wxBORDER_NONE</style>
								</object>
								<flag>wxEXPAND</flag>
								<border>5</border>
							</object>
						</object>
					</object>
					<label>Sys</label>
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR" variable="StatusBar" member="yes">
			<fields>3</fields>
			<widths>1,250,-300</widths>
			<styles>wxSB_FLAT,wxSB_NORMAL,wxSB_NORMAL</styles>
			<style>wxST_SIZEGRIP|wxBORDER_NONE</style>
		</object>
		<object class="wxTimer" name="ID_TIMER" variable="Timer" member="yes">
			<interval>10</interval>
			<handler function="OnTimerTrigger" entry="EVT_TIMER" />
		</object>
		<object class="wxMenu" variable="ListMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENU_MOVEUP" variable="MenuMoveUp" member="yes">
				<label>1</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENU_MOVEDOWN" variable="MenuMoveDown" member="yes">
				<label>2</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENU_EDIT" variable="MenuEdit" member="yes">
				<label>3</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENU_CLONE" variable="MenuClone" member="yes">
				<label>4</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENU_PRESET" variable="MenuPreset" member="yes">
				<label>5</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENU_REMOVE" variable="MenuRemove" member="yes">
				<label>6</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENU_FFPROBE" variable="MenuFFProbe" member="yes">
				<label>7</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENU_FFCMD" variable="MenuFFCmd" member="yes">
				<label>8</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENU_STARTALL" variable="MenuStartAll" member="yes">
				<label>9</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENU_STARTSEL" variable="MenuStartSel" member="yes">
				<label>10</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxFileDialog" variable="OpenFilesDlg" member="yes">
			<style>wxFD_OPEN|wxFD_FILE_MUST_EXIST|wxFD_MULTIPLE</style>
		</object>
		<object class="wxMenu" variable="ToolsMenu" member="yes">
			<object class="wxMenuItem" name="ID_TOOLTHUMBS" variable="ThumbsItem" member="yes">
				<label>1</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_TOOLSLIDESHOW" variable="SlideshowItem" member="yes">
				<label>2</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_TOOLCONCAT" variable="ConcatItem" member="yes">
				<label>3</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_TOOLVIDSTAB" variable="VidStabItem" member="yes">
				<label>4</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_TOOLVID2GIF" variable="Vid2GifItem" member="yes">
				<label>5</label>
				<handler function="OnToolBarButtonClick" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
