<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="FFQPresetPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<rows>1</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_PRESETS" variable="Presets" member="yes" />
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_MGRBUTTON" variable="MgrButton" member="yes">
					<label>...</label>
					<size>50,-1</size>
					<handler function="OnAction" entry="EVT_BUTTON" />
				</object>
				<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>3</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
